<!-- Header -->
<header th:fragment="header" class="flex justify-between items-center px-4 bg-blue-500 text-white">
    <a th:href="@{/}" class="brand text-2xl font-bold">ViVu Store</a>
    <nav>
        <ul class="nav-menu flex items-center">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link p-4 hover:bg-blue-700">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/manager/category}" class="nav-link p-4 hover:bg-blue-700">Category</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/manager/product}" class="nav-link p-4 hover:bg-blue-700">Product</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/about}" class="nav-link p-4 hover:bg-blue-700">About</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contact/10}" class="nav-link p-4 hover:bg-blue-700">Contact</a>
            </li>
        </ul>
    </nav>
    <!-- Profile Menu -->
    <div class="profile-menu flex justify-between items-center">
        <!-- For Authenticated User -->
        <div class="authenticated flex justify-between items-center" sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}" class="nav-link block p-4 hover:bg-blue-700">
                <span th:text="${#authentication.name}"></span>
            </a>
            <a th:href="@{/logout}" class="nav-link block p-4 hover:bg-blue-700">Logout</a>
        </div>

        <!-- For Anonymous User -->
        <div class="anonymous flex justify-between items-center" sec:authorize="isAnonymous()">
            <a th:href="@{/auth/login}" class="nav-link block p-4 hover:bg-blue-700">Login</a>
            <a th:href="@{/auth/register}" class="nav-link block p-4 hover:bg-blue-700">Register</a>
        </div>
    </div>
</header>