<aside th:fragment="sidebar" class="min-w-[200px] border-r border-slate-400 min-h-screen shadow-md">
    <div class="sidebar-title text-xl font-semibold p-4 border">Management</div>
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a th:href="@{/manager/categories}" class="nav-link block p-4 hover:bg-blue-700 hover:text-white">Category</a>
        </li>
        <li class="sidebar-item">
            <a th:href="@{/manager/product}" class="nav-link block p-4 hover:bg-blue-700 hover:text-white">Product</a>
        </li>
    </ul>
</aside>